{% extends "ingredients.html" %}
{% block title_ingredients %} Carbohydrates {% endblock title_ingredients %}
{% block description %} Carbohydrates are important : there are our bodies'
preferred source of energy. They provide amazing nutrients such as protein,
fibre & B vitamin. Privilege the complex (brown) carbs over the other ones as
those will not be broken down as quickly by our bodies.</p>
<p>Carbs keep us full throughout the day and give us the energy to workout and
other daily activities.{% endblock description %}
{% block foodgroup %}
  {{ super() }}
{% endblock foodgroup %}

{% block img_attr %}
  src="/static/healthy-carbs.jpg" alt="Healthy carbs" title="Healthy carbs"
{% endblock img_attr %}
