<!doctype html>
<head>
  <title>Cats</title>
  <link rel="stylesheet" href="/static/recipes.css"/>
</head>
<body>
<div class="left">
  <p>
    Here is a cute cat. Because
    <quote>The Internet is full of cats</quote>
  </p>
  <p><a href=" 
 http://www.google.co.uk/search?q=cute+cat&rlz=1C1CHMC_frFR557FR557&es_sm=122&source=lnms&tbm=isch&sa=X&ved=0CAcQ_AUoAWoVChMIstHEs7XWyAIVAbsUCh1GOgQL&biw=1366&bih=643
 ">More cute cats.</a></p>
</div>
<div>
    <img class="main_picture" src="/static/cutest-cat-picture-ever.jpg" alt="A cute cat"
    title="A cute cat"/>
</div>
</body>
</html>
