{% extends "recipes.html" %}

    {% block title_recipe %} Hummus dips for appetizer {% endblock title_recipe %}
    {% block directions %}
    Simple place all of the ingredients into a food processor and blend until
    smooth, it's really that easy! Then, if it lasts long enough to have
    left-overs,  store in an air-tight container in the fridge! Enjoy!
    {% endblock directions %}
    {% block recipe %}
    {{ super() }}
    {% endblock recipe %}
    {% block img_attr %} src="/static/hummus.jpg" alt="Hummus"
    title="Hummus"
    {% endblock img_attr %}



