{% extends "ingredients.html" %}
{% block title_ingredients %} Healthy fats {% endblock title_ingredients %}
{% block description %} Healthy fats provide the essential fatty acids, that
the body can't produce on its own. They play an important role in cell
structure, cell function & inflammation process. They are great for healthy
skin & hair as well. {% endblock description %}
{% block foodgroup %}
  {{ super() }} 
{% endblock foodgroup %}

{% block img_attr %}
  src="/static/healthyfats.jpg" alt="Healthy fats" title="Healthy fats"
{% endblock img_attr %}
