<!doctype html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}Les carnets de Garance</title>
    <link rel="stylesheet" href="/static/recipes.css"/>
  {% endblock %}
</head>
<body>
  <ul class="menu" id="menu_main">
    <li><a href="{{ url_for('.home')}}">Home</a></li>
    <li><a href="{{ url_for('.recipes')}}">Recipes</a></li>
    <li><a href="{{ url_for('.restaurants')}}">Restaurants</a></li>
    <li><a href="{{ url_for('.happiness')}}">Happiness</a></li>
    <li><a href="{{ url_for('.fitness')}}">Fitness</a></li>
  </ul>
  <div id="content_main">
    {% block content_main %}
    {% if currentpage == "home" %}
      <p>This is the homepage!</p>
    {% endif %} 
    {% if msg %}
      <p>{{ msg }}</p>
    {% endif %}

    {#{% if not current_user.is_authenticated %}#}
    {% if not session.logged_in %}
    {% if not previouspage == "createaccount" %}
      <li><a href="{{ url_for('.createaccount') }}">Create an account</a></li>
    {% endif %}
    <li><a href="{{ url_for('.login') }}">Log in</a></li>
    {% endif %}

    {#{% if current_user.is_authenticated %}#}
    {% if session.logged_in %}
    {#{% if previouspage == "login" %}#}
      {% if user %}
      {#{% for user in load_user() %#}
         <p>Hi {% if user.username %}{{ user.username }}{%endif%}
         {%if user.name_user%}{{user.name_user}}{%endif%}, it's nice to see you !</p>
       <!-- works!!!! only coming from login -->
      {#{% endfor%}#}
      {% endif %}
      <li><a href="{{ url_for('.logout') }}">Log out</a></li>
    {% endif %}
    {% if not currentpage == "display_users"%}
      <li><a href="{{ url_for('.display_users') }}">Display users</a></li>
    {% endif %}
    
    {% for message in get_flashed_messages() %}
      <div class = flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock body %}

    {% endblock content_main %}
  </div>
  <div id="footer">
  </div>
</body>
</html>
