<!doctype html>
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}Les carnets de Garance</title>
    <link rel="stylesheet" href="/static/recipes.css"/>
  {% endblock %}
</head>
<body>
  <ul class="menu" id="menu_main">
    <li><a href="{{ url_for('.home')}}">Home</a></li>
    <li><a href="{{ url_for('.recipes')}}">Recipes</a></li>
    <li><a href="{{ url_for('.restaurants')}}">Restaurants</a></li>
    <li><a href="{{ url_for('.happiness')}}">Happiness</a></li>
    <li><a href="{{ url_for('.fitness')}}">Fitness</a></li>
  </ul>
  <div id="content_main">
    {% block content_main %}<p>Hi this is the homepage!</p>

    {% if current_user.is_authenticated %}
      Hi {{ current_user.username }} !
    {%  endif %}

    {% if not session.logged_in  %}
    <li><a href="{{ url_for('.createaccount') }}">Create an account</a></li>
    <li><a href="{{ url_for('.login') }}">Log in</a></li>
    {% else %}
    <li><a href="{{ url_for('.logout') }}">Log out</a></li>
    {% endif %}
    <li><a href="{{ url_for('.display_users') }}">Display users</a></li>
    
    {% for message in get_flashed_messages() %}
      <div class = flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock body %}

    {% endblock content_main %}
  </div>
  <div id="footer">
  </div>
</body>
</html>
