{% extends "recipes.html" %}
{#{% block title %} - Recipes{% endblock %}#}
{% block content %}
  <ul class="menu" id="menu_ingredients">
    <li><a href="{{ url_for('.carbs')}}">Carbs</a></li>
    <li><a href="{{ url_for('.veggies')}}">Veggies</a></li>
    <li><a href="{{ url_for('.fruits')}}">Fruits</a></li>
    <li><a href="{{ url_for('.protein')}}">Protein</a></li>
    <li><a href="{{ url_for('.dairy')}}">Dairy</a></li>
    <li><a href="{{ url_for('.healthyfats')}}">Healthy Fats</a></li>
  </ul>
  {% block foodgroup %}
  {% if currentpage == "ingredients" %}
    <p>
     Discover the different Food Groups
    </p>
  {% else %}
  <div class="left">
  <h1> {% block title_ingredients %}{% endblock title_ingredients %} </h1>
  <p> {% block description %}{% endblock description %}</p>

  <h2>Some examples</h2>
    <ul>
      {% for item in examples %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>

  </div>
  <div class="right">
    <p>
      <img class="main_picture" {% block img_attr %} {% endblock img_attr %}/>
    </p>
  </div>
   {% endif %}
  {% endblock foodgroup %}
{% endblock content %}

