{% extends "recipes.html" %}
{#{% block title %} - Recipes{% endblock %}#}
{% block content %}
  <ul class="menu" id="menu_ingredients">
    <li><a href="{{ url_for('.carbs')}}">Carbs</a></li>
    <li><a href="{{ url_for('.veggies')}}">Veggies</a></li>
    <li><a href="{{ url_for('.fruits')}}">Fruits</a></li>
    <li><a href="{{ url_for('.protein')}}">Protein</a></li>
    <li><a href="{{ url_for('.dairy')}}">Dairy</a></li>
    <li><a href="{{ url_for('.healthyfats')}}">Healthy Fats</a></li>
  </ul>
  {% block foodgroup %}
  <div class="left">
  <h1> {% block title_ingredients %}The different Food Groups{% endblock title_ingredients %} </h1>
  <p> {% block description %} Having a balanced diet is super important for
  your overall health. There are 5 different food groups and your body need the
  right amount of each of those categories, plus a small amount of healthy
  fats. It will provide the different nutrients and benefits your body needs to
  function optimally.{% endblock description %}</p>

  {% if currentpage != "ingredients" %}
  <h2>Some examples</h2>
    <ul>
      {% for item in examples %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
   {% endif %}

  </div>
  <div class="right">
    <p>
      <img class="main_picture" {% block img_attr %} src="/static/foodgroups1.jpg"
      alt="The different food groups" title="The different food groups" {% endblock img_attr %}/>
    </p>
  </div>
  {% endblock foodgroup %}
{% endblock content %}

