{% extends "recipes.html" %}

    {% block title_recipe %} {{ recipe.title_recipe }}  {% endblock title_recipe %}
   


    
    {% block directions %}
      {{ recipe.directions_recipe }}
    <!--Super easy : Just mix the ingredients together and
    that's your batter! I put here a list of toppings that I added to mine, but
    you can use every topping in your cupboard! Be creative!-->

    {% endblock directions %}
    {% block recipe %}
    {{ super() }}
    {% endblock recipe %}
    {% block img_attr %} src="/static/pancakes.jpg" alt="A stack
  of healthy pancakes" title="A stack of healthy pancakes"
    {% endblock img_attr %}

