{% extends "ingredients.html" %}
{% block title_ingredients %} Protein {% endblock title_ingredients %}
{% block description %} Lean meats like Chicken, Turkey, Beef as well as Fish
or Eggs are our bodies best sources of protein. They keep you full and
curb sugar craving. They help recover after a workout or a long day and provide
all the 9 "essentiel amino acids" (that the body can't produce on its own).
{% endblock description %}
{% block foodgroup %}
  {{ super() }} 
{% endblock foodgroup %}

{% block img_attr %}
  src="/static/protein1.jpg" alt="Food sources of Protein" title="Sources of Protein"
{% endblock img_attr %}
