  {% extends "index.html" %}
  {% block title %}Recipes - {% endblock %}
  {% block content_main %}
  <ul class="menu" id="menu_recipes">
    <li><a href="{{ url_for('.breakfast')}}">Breakfast</a></li>
    <li><a href="{{ url_for('.lunch')}}">Lunch</a></li>
    <li><a href="{{ url_for('.snacks')}}">Snacks</a></li>
    <li><a href="{{ url_for('.dinner')}}">Dinner</a></li>
    <li><a href="{{ url_for('.ingredients')}}">Ingredients</a></li>
  </ul>
  <div id="content">

{% block content %}
   {% if currentpage == "recipes" %}
   <p> Here you can find a lot of cool recipes </p>
   {% else %}
  <div class="left">
  <h1> {% block title_recipe %}{% endblock title_recipe %} </h1>
   {% block recipe %}
   {% if currentpage == "sweet" %}
   <h2>Base</h2>
    <ul>
      {% for item in base %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
   <h2>Filling</h2>
    <ul>
      {% for item in filling %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
   {% else %}
   <h2>Ingredients</h2>
    <ul>
      {% for item in ingredients %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
    {% block addings %}{% endblock addings %}
   {% endif %}
    <h2>Directions</h2>
    <p>{% block directions %}{% endblock directions %}</p>

    <form action="{{ url_for('add_to_favs')}}" method="post" name="form">
      <p>
        <label for="user_id"> My user id :</label>
        <input type="text" name="user_id" id="user_id" />
      </p>
      <p>
        <label for="title_recipe"> Title recipe :</label>
        <input type="text" name="title_recipe" id="title_recipe" />
      </p>
      <p><input type="submit" value="Add to my favourite"/></p>
    </form>

   {% endblock recipe %} 
  </div>
  <div class="right">
    <p>
      <img class="main_picture" {% block img_attr %} {% endblock img_attr %}/>
    </p>
  </div>
   {% endif %}
{% endblock %}
  
  </div>
  {% endblock content_main %}

