  {% extends "index.html" %}
  {% block title %} - Recipes{% endblock %}
  {% block content_main %}
  <ul class="menu" id="menu_recipes">
    <li><a href="{{ url_for('.breakfast')}}">Breakfast</a></li>
    <li><a href="{{ url_for('.lunch')}}">Lunch</a></li>
    <li><a href="{{ url_for('.snacks')}}">Snacks</a></li>
    <li><a href="{{ url_for('.dinner')}}">Dinner</a></li>
    <li><a href="{{ url_for('.ingredients')}}">Ingredients</a></li>
  </ul>
  <div id="content">
    {% block content %} <p>Here you can find a lot of cool recipes</p>{% endblock %}
  </div>
  {% endblock content_main %}
