{% extends "recipes.html" %}

    {% block title_recipe %} Coconut mint matcha cake {% endblock title_recipe %}
    {% block directions %}
    To make the base, mix the ingredients until you have a sticky dough. You
    can do that by hand. Then press the 'dough' into your cake pan.</p><p>

    To make the filling, add all the ingredients except the mactha to a blender
    and blitz until you get them creamy. Scoop out 1/3 of the mint filling and
    spread it on top of the base.</p><p>

    Scoop out the rest of the filling in a bowl and mix it with 1/2 tsp matcha.
    Scoop out half of this mint matcha filling and spread it on top of the mint
    layer.</p><p>

    Mix the remaining filling with 1/3 tsp matcha then spread it on top of the
    other two cake layers.</p><p>
    Refrigerate the cake for at least 30 minutes.</p><p>

    Before serving, dust the cake with matcha green tea. Best served chilled.
    {% endblock directions %}
    {% block recipe %}
    {{ super() }}
    {% endblock recipe %}
    {% block img_attr %} src="/static/matchacake.jpg" alt="Coconut mint matcha cake"
    title="Coconut mint matcha cake"
    {% endblock img_attr %}
