{% extends "ingredients.html" %}
{% block title_ingredients %} Veggies & Legumes {% endblock title_ingredients %}
{% block description %} Full of vitamines, minerals, fibre & phytochemicals
(which helps our body to fight disease), Vegetables play an important role in
our health. Pick minimal processed, wholesome
ingredients as those will have a better
nutritional value and no additives, fat or sugar. {% endblock description %}
{% block foodgroup %}
  {{ super() }} 
{% endblock foodgroup %}

{% block img_attr %}
  src="/static/veggies.jpg" alt="Vegetables" title="Vegetables"
{% endblock img_attr %}
