/* General */

body{
font-family:"Calibri", "Trebuchet MS", sans-serif;
}

p, li{
font-size: 0.9em;
}
/* From Flask Tutorial */

a, h1, h2{
/*color: rgb(247,83,82);*/
color: rgb(132,212,53);
}

h1,h2{
font-family: 'Georgia', serif;
}

h1{
font-size: 1.8em;
border-bottom: 2px solid #eee; 
}

h2{
font-size: 1.2em;
}

.entries {list-style:none; margin:0; padding: 0;}
.entries li {margin:0.8em 1.2em;}

.flash {background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2;}
.error {background:#f0d6d6; padding:0.5em:}

/* Menus */

.menu a:hover{
text-decoration : underline;
}

.menu li {
display:inline;
padding: 0 2em;
}

#menu_main li {
line-height : 50px;
}
#menu_recipes li, #menu_ingredients li{
line-height : 30px;
}

.menu {
margin : 0.5em 0 0 0;
padding : 0;
border: 1px;
list-style-type : none;
text-align : center;
text-transform : uppercase;
}

#menu_main {
height : 50px;
background-color: #F75352;
}

#menu_recipes {
height : 30px;
background-color: yellow;
}

#menu_ingredients {
height : 30px;
background-color: #84d435;
}

.menu a {
color : black;
text-decoration : none;
padding : 0 0.5em;
font-family : "Trebuchet MS";
}

#menu_main a {
font-size : 1em;
}

#menu_recipes a, #menu_ingredients a{
font-size : 0.8em;
}

/* End Menus */

h1{
  margin-bottom:30px;
}

.left {
  float:left;
  margin-left:95px;
  max-width:400px;
  text-align:justify;
}

.right{
  float:right;
}

.main_picture {
  margin:0 75px 20px 75px;
  max-height:500px;
}
