/* General */

body{
font-family:"Calibri";
}

/* Menus */

.menu a:hover{
text-decoration : underline;
}

.menu li {
display:inline;
padding: 0 2em;
}

#menu_main li {
line-height : 50px;
}
#menu_recipes li, #menu_ingredients li{
line-height : 30px;
}

.menu {
margin : 0.5em 0 0 0;
padding : 0;
border: 1px;
list-style-type : none;
text-align : center;
text-transform : uppercase;
}

#menu_main {
height : 50px;
background-color: #F75352;
}

#menu_recipes {
height : 30px;
background-color: yellow;
}

#menu_ingredients {
height : 30px;
background-color: #84d435;
}

.menu a {
color : black;
text-decoration : none;
padding : 0 0.5em;
font-family : "Trebuchet MS";
}

#menu_main a {
font-size : 1em;
}

#menu_recipes a, #menu_ingredients a{
font-size : 0.8em;
}

/* End Menus */

h1{
  margin-bottom:30px;
}

.left {
  float:left;
  margin-left:95px;
  max-width:400px;
  text-align:justify;
}

.right{
  float:right;
}

.main_picture {
  margin:0 75px 20px 75px;
  max-height:500px;
}
